src/main/app/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:spring="http://www.springframework.org/schema/beans" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    <http:request-config name="HTTP_Request_Configuration" host="${http.host}" port="${http.port}" basePath="${http.base.path}" responseTimeout="${http.responseTimeout}" doc:name="HTTP Request Configuration"/>
    
    <flow name="api-main" doc:description="This the main entry point for the API proxy.
This API holds customer related resources which includes create , update , get , delete and get ALL methods.">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="api-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="put:/customers/{customerId}:application/json:api-config" doc:description="This resource wll invoke customer backend service for updating the record">
        <http:request config-ref="HTTP_Request_Configuration" path="/#[message.inboundProperties.'http.uri.params'.customerId]" method="PUT" doc:name="HTTP_UpdateCustomerRecordByName"/>
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="delete:/customers/{customerId}:api-config" doc:description="This resource wll invoke customer backend service for deleting the record">
        <http:request config-ref="HTTP_Request_Configuration" path="/#[message.inboundProperties.'http.uri.params'.customerId]" method="DELETE" doc:name="HTTP_DeleteCustomerRecordByName"/>
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/orders:api-config" doc:description="Implementation is in progress &lt;&lt;TBD&gt;&gt;">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/products:api-config" doc:description="Implmentation is in progress &lt;&lt;TBD&gt;&gt;">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/customers/{customerId}:api-config" doc:description="This resource wll invoke customer backend service for getting customer records  by first name">
        <http:request config-ref="HTTP_Request_Configuration" path="/#[message.inboundProperties.'http.uri.params'.customerId]" method="GET" doc:name="HTTP_GetCustomerRecordByName"/>
        <set-payload value="#[payload]" doc:name="Set Payload" mimeType="application/json"/>
    </flow>
    <flow name="get:/customers:api-config" doc:description="This resource wll invoke customer backend service for getting all customer records">
        <http:request config-ref="HTTP_Request_Configuration" path="/" method="GET" doc:name="HTTP_GetAllCustomerRecords"/>
        <set-payload value="#[payload]" doc:name="Set Payload" mimeType="application/json"/>
    </flow>
    <flow name="post:/customers:application/json:api-config" doc:description="This resource wll invoke customer backend service for inserting a new record">
        <http:request config-ref="HTTP_Request_Configuration" path="/" method="POST" doc:name="HTTP_InsertCustomerRecord"/>
        <set-property propertyName="http.status" value="201" doc:name="Set_HttpStatus"/>

        <set-payload value="#[payload]" doc:name="Set Payload" mimeType="application/json"/>
    </flow>
    <apikit:mapping-exception-strategy name="api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
